/* Harshit Bansal, 4/12/24, IT302-002, Phase 4 Assignment: Read Node.js Data using React.js, hb33@njit.edu */

.Imge {
    width: 200px;
    height: 200px;
    margin: auto;
  }

.Imge1 {
  width: 100px;
  height: 250px;
  margin: auto;
}

